.main-content
{
    flex: 5;
    overflow: auto;
    height: 800px;
    padding: 30px;
    
}

.container.admin
{
    margin-left: 230px;
    padding-bottom: 30px;
    height: 800px;
}
.header
{
   display: flex;
   flex-direction: column;
   align-items: center;
  text-align: center;
    box-shadow: 0px 1px 0px black;
  height:15%;
  z-index: 999;
   
}

.modals
{
    background:white;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0,0.2);
    width: 600px;
    max-width: 100%;


  
}
.modals-container
{
    background-color: rgba(0, 0, 0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}
.modals-container.show
{
    opacity: 1;
    pointer-events: auto;
}